
<!-- Validation failure messages -->
<% if @mob.errors.any? %>
  <% @mob.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>


<h1>
  Edit <%= @mob.name %>
</h1>

<hr>

<form action="/update_mob/<%= @mob.id %>" method="post">

  <!-- Label and input for name -->

  <div class="form-group">
    <label for="name">
      Name
    </label>


    <input type="text" id="name" name="name" class="form-control" value="<%= @mob.try(:name) %>">

  </div>

  <div class="form-group">
    <label for="hp">
      HP
    </label>


    <input type="text" id="hp" name="hp" class="form-control" value="<%= @weapon.try(:hp) %>">

  </div>

  <!-- Label and input for encounter_id -->

  <div class="form-group">
    <label for="encounter_id">
      Encounter
    </label>

    <%= select_tag("encounter_id", options_from_collection_for_select(Encounter.order(:name), :id, :name)) %>

  </div>



  <!-- Label and input for weapon_id -->

  <div class="form-group">
    <label for="weapon_id">
      Weapon
    </label>

    <%= select_tag("weapon_id", options_from_collection_for_select(Weapon.order(:name), :id, :name)) %>

  </div>



  <button class="btn btn-block btn-outline-secondary">
    Update Enemy
  </button>
</form>

<hr>

<a href="/encounters/<%= @mob.encounter.id %>">
  Go back
</a>
