
<!-- Validation failure messages -->
<% if @pc.errors.any? %>
  <% @pc.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>


<h1>
  Edit <%= @pc.name %>
</h1>

<hr>

<form action="/update_pc/<%= @pc.id %>" method="post">

  <!-- Label and input for user_id -->

  <!-- Label and input for str -->

  <div class="form-group">
    <label for="name">
      Character Name
    </label>

    <input type="text" id="name" name="name" class="form-control" value="<%= @pc.name %>">

  </div>


  <div class="form-group">
    <label for="str">
      STR
    </label>

    <input type="text" id="str" name="str" class="form-control" value="<%= @pc.str %>">

  </div>

  <!-- Label and input for strmod -->

  <!-- Label and input for dex -->

  <div class="form-group">
    <label for="dex">
      DEX
    </label>

    <input type="text" id="dex" name="dex" class="form-control" value="<%= @pc.dex %>">

  </div>

  <!-- Label and input for dexmod -->

  <!-- Label and input for con -->

  <div class="form-group">
    <label for="con">
      CON
    </label>


    <input type="text" id="con" name="con" class="form-control" value="<%= @pc.con %>">

  </div>

  <!-- Label and input for int -->

  <div class="form-group">
    <label for="int">
      INT
    </label>

    <input type="text" id="int" name="int" class="form-control" value="<%= @pc.int %>">

  </div>

  <!-- Label and input for wis -->

  <div class="form-group">
    <label for="wis">
      WIS
    </label>

    <input type="text" id="wis" name="wis" class="form-control" value="<%= @pc.wis %>">

  </div>

  <!-- Label and input for cha -->

  <div class="form-group">
    <label for="cha">
      CHA
    </label>

    <input type="text" id="cha" name="cha" class="form-control" value="<%= @pc.cha %>">

  </div>


  <!-- Label and input for ac -->

  <div class="form-group">
    <label for="ac">
      AC
    </label>

    <input type="text" id="ac" name="ac" class="form-control" value="<%= @pc.ac %>">

  </div>

  <!-- Label and input for initiative -->

  <button class="btn btn-block btn-outline-secondary">
    Update Character
  </button>
</form>

<hr>

<a href="/">
  Go back
</a>
